---
import { spotifyPlaylist, transitICCards } from "../data/interests";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Interests">
  <div class="mt-28 pb-32 md:pb-16">
    <div class="container mx-auto max-w-7xl z-20">
      <div class="mx-4">
        <h2 class="text-3xl mb-4 font-semibold font-futura">Interests</h2>
        <div class="my-4" id="musics">
          <h3 class="text-2xl font-semibold">音楽</h3>
          <p class="my-4">
            2023年5月から、月ごとに聞いた音楽をプレイリストにまとめています。
          </p>
          {
            Object.entries(spotifyPlaylist)
              .reverse()
              .map(([year, months]) => (
                <div class="my-4">
                  <h4 class="text-xl font-semibold">{year}年</h4>
                  <ul class="list-disc ml-8">
                    {Object.keys(months).map((month) => (
                      <li>
                        <a
                          class="underline"
                          href={months[month]}
                          target="_blank"
                          rel="noreferrer noopener"
                        >
                          {year}年{month}月
                        </a>
                      </li>
                    ))}
                  </ul>
                </div>
              ))
          }
        </div>
        <div class="my-4" id="transit">
          <h3 class="text-2xl font-semibold">交通系ICカード</h3>
          <p class="my-4">交通系ICカードの収集にハマっています。</p>
          <ul class="list-disc ml-8">
            {transitICCards.map((card) => <li>{card}</li>)}
          </ul>
        </div>
      </div>
    </div>
  </div>
</Layout>
