---
import { Image } from "astro:assets";

interface Props {
  icon: ImageMetadata;
  title: string;
  percent: number;
  color: string;
  width?: string;
}
const { icon, title, percent, color, width = "w-12" } = Astro.props;
---

<div class="flex flex-row items-center gap-4">
  <div class="relative m-1">
    <div
      class="percent w-24 h-24 rounded-full"
      style={`background-image: conic-gradient(${color} 0%, ${color} ${percent}%, rgb(217, 217, 217) ${percent}%, rgb(217, 217, 217) 100%);`}
    >
    </div>
    <div
      class="flex justify-center items-center absolute top-2 left-2 bg-white dark:bg-zinc-100 w-20 h-20 rounded-full"
    >
      <Image src={icon} alt={title} class={width} />
    </div>
  </div>
  <h4 class="font-semibold text-lg">{title}</h4>
</div>
